__pycache__/agents_collection.cpython-311.pyc
__pycache__/agents_collection.cpython-313.pyc
__pycache__/tools.cpython-311.pyc
__pycache__/voice.cpython-311.pyc
__pycache__/voice.cpython-313.pyc
utils/__pycache__/instructions.cpython-311.pyc
.env
.windsurf/