*.pyc
__pycache__/
*.py[cod]
utils/__pycache__/
.env
.windsurf/
logs/
.env.bak

# Google Calendar API credentials
integrations/calendar/credentials/*.json
integrations/calendar/token.pickle
integrations/calendar/__pycache__/
integrations/calendar/credentials/token.pickle
myenv/

# Home Assistant sensitive files
integrations/homeassistant/.home
integrations/homeassistant/entities.json
integrations/homeassistant/devices.json

integrations/linkedinformater/output/
__pycache__/tools.cpython-313.pyc
